::placeholder{
    color: white;
}
.logo{
    display: block;
    margin: auto;
    width: 7vw;
    height: 15vh;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgba(255,255,255), rgb(245, 223, 28));
 }
.container{
    max-width:40vw;
    /* background-color: red; */
    margin: auto;
    height: 60vh;
    overflow-y: scroll;
    margin-bottom: 3vh;
    border: 2px solid black;
    padding:2vh 2vw;
    
}
.message{
    background-color: gray;
    width: 25%;
    padding: 1vh 1vw;
    margin:1vh 1vw;
    word-wrap: break-word;
    border-radius: 10px;
    border: 2px solid black;
    

}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: flex;
    align-items:center;    
    justify-content: center;
}
#messageInp{
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    width: 32vw;
    font-size: 1.3vw;
    padding:0 0 0.5vw 0;
}
.btn{
    width: 5.5vw;
    height: 7vh;
    border:none;
    color: white;
    border-radius: 10px;
    font-size: 1vw;
    margin: 0 0 1vh 2vw;
    background-color: rgb(44, 44, 235);
    box-shadow:-1px -1px 80px rgb(29, 29, 223),1px 1px 80px rgb(29, 29, 223);
}